body, h1, span, p, a, div {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, 'JiraRTL' !important;
  unicode-bidi: plaintext !important;
}

* {
  unicode-bidi: plaintext;
}
